@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<!-- Page Heading -->

<div class="card">

    <div class="card-body mb-4">
        <form method="post">
            <!-- Row 1 -->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="example">NIP</label>
                        <input id="txtNIP" type="text" class="form-control" placeholder="Your NIP *" value="" required />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Select Role</label>
                        <select class="form-control" id="txtRole">
                            <option value="2">Manager</option>
                            <option value="3">Finance</option>
                        </select>
                        @*       <input id="txtRole" type="text" class="form-control" placeholder="Employee *" value="1" readonly />*@
                    </div>
                </div>

            </div>
            <!-- Row 2 -->
            <div class="row mt-5">
                <div class="col-md-4">
                    <div class="form-group">

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group text-center">
                        @* <input id="buttonsubmit" type="submit" name="btnSubmit" class="btnContact" value="Submit Data" />*@
                        <button type="button" class="btn btn-primary add-btn" onclick="return Insert()">Save changes</button>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>

        </form>
    </div>
</div>



@section Scripts{
    <script src="~/js/AccountRole/Index.js"></script>
}