@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<!-- Page Heading -->
@*<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Create Employee</h1>
</div>*@
<!-- Page Heading -->
<div class="container contact-form">
    @*<div class="contact-image">
        <img src="~/img/add.svg" alt="rocket_contact" />
    </div>*@
    <form method="post">
        @*<h3>Create Employee</h3>*@
        <!-- Row 1 -->
        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label for="example">Name</label>
                    <input id="txtEmpName" type="text" name="txtEmpName" class="form-control" placeholder="Your Name *" value="" />
                </div>
                <div class="form-group">
                    <label for="example">Email</label>
                    <input id="txtEmpEmail" type="email" name="txtEmpEmail" class="form-control" placeholder="Your Email *" value="" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="example">Position</label>
                    <input id="txtEmpPosition" type="text" name="txtEmpPosition" class="form-control" placeholder="Your Position *" value="" />
                </div>
                <div class="form-group">
                    <label for="example">ManagerID</label>
                    <input id="txtEmpManagerID" type="text" name="txtEmpManagerID" class="form-control" placeholder="Your ManagerID *" value="" />
                </div>
            </div>

        </div>
        <!-- Row 2 -->
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="example">Basic Salary</label>
                    <input id="txtEmpBasicSalary" type="number" name="txtEmpBasicSalary" class="form-control" placeholder="Your Basic Salary *" value="" />
                </div>
            </div>
        </div>
        <!-- Row 3 -->
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="form-group">

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group text-center">
                    @* <input id="buttonsubmit" type="submit" name="btnSubmit" class="btnContact" value="Submit Data" />*@
                    <button type="button" class="btn btn-primary add-btn" onclick="return Insert()">Save changes</button>
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>

    </form>
</div>

@section Scripts{
    <script src="~/js/Employee/employee.js"></script>
}