@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">About Account</h1>
</div>

<div class="card mb-4">
    <div class="card-body">
        <a id="buttonSubmit" role="button" class="btn btn-primary mb-2" href="https://localhost:44348/employees/create" data-placement="top" title="Create Employee">
            <i class="fas fa-user-plus"></i>
        </a>
        <table style="width:100%" class="table dt-responsive nowrap mt-2" id="tableAboutAccount">
            <thead class="thead-dark">
                <tr>
                    <th class="tbtitle text-center" scope="col" colspan="4">Account List</th>
                </tr>
                <tr>
                    <th scope="col">NO</th>
                    <th scope="col">NIP</th>
                    <th scope="col">Password</th>
                    <th scope="col">Account Status</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/Account/Account.js"></script>
}