@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Create Employee</h1>
</div>
<!-- Page Heading -->
<div class="container contact-form">
    <div class="contact-image">
        <img src="~/img/add.svg" alt="rocket_contact" />
    </div>
    <form method="post">
        <h3>Create Account</h3>
        <!-- Row 1 -->
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="example">NIP</label>
                    <input id="txtNIP" type="text" class="form-control" placeholder="Your NIP *" value="" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="example">Password</label>
                    <input id="txtPassword" type="text" class="form-control" placeholder="Your Password *" value="" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="example">Account Status</label>
                    <input id="txtAccStatus" type="text" class="form-control" placeholder="Your Account Status *" value="" />
                </div>
            </div>
        </div>
        <!-- Row 2 -->
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="form-group">

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group text-center">
                    @* <input id="buttonsubmit" type="submit" name="btnSubmit" class="btnContact" value="Submit Data" />*@
                    <button type="button" class="btn btn-primary add-btn" onclick="return Insert()">Save changes</button>
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>

    </form>
</div>

@section Scripts{
    <script src="~/js/Employee/employee.js"></script>
}