@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<!-- Page Heading -->
@*<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Create Account</h1>
</div>*@

<div class="row">
    <div class="col-lg-12 margin-tb mb-4">
        <div class="pull-right">
            <a class="btn btn-info"  href="https://localhost:44348/accounts/"> Back</a>
        </div>
    </div>
</div>



<!-- Page Heading -->

<div class="card">

    <div class="card-body mb-4">
        <form method="post">
            <!-- Row 1 -->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="example">NIP</label>
                        <input id="txtNIP" type="text" class="form-control" placeholder="Your NIP *" value="" required />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="example">Password</label>
                        <input id="txtPassword" type="password" class="form-control" placeholder="Your Password *" value="" required />
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Account Status</label>
                        <select class="form-control" id="txtAccStatus">
                            <option value="Active">Active</option>
                            <option  value="Non-Active">Non-Active</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Select Role</label>
                        <select class="form-control" id="txtRole">
                            <option value="1">Employee</option>
                            <option value="2">Manager</option>
                            <option value="3">Finance</option>
                            <option value="4">Director</option>
                            <option value="5">Admin</option>
                        </select>
                 @*       <input id="txtRole" type="text" class="form-control" placeholder="Employee *" value="1" readonly />*@
                    </div>
                </div>
            </div>
            <!-- Row 2 -->
            <div class="row mt-5">
                <div class="col-md-4">
                    <div class="form-group">

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group text-center">
                        @* <input id="buttonsubmit" type="submit" name="btnSubmit" class="btnContact" value="Submit Data" />*@
                        <button type="button" class="btn btn-primary add-btn" onclick="return Insert()">Save changes</button>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>

        </form>
    </div>
</div>



@section Scripts{
    <script src="~/js/Account/Account.js"></script>
}