@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<!--<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="loginemail" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="loginpassword" placeholder="Password">
    </div>-->
    @*
        <button type="submit" class="btn btn-primary" onclick="Login()">Submit</button>*@
    <!--<button type="button" class="btn btn-primary add-btn" onclick="Login()">Login</button>

</form>-->

<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="~/images/signin-image.jpg" alt="sing up image"></figure>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Sign up</h2>
                <form method="POST" class="register-form" id="login-form">
                    <div class="form-group">
                        <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="your_name" id="loginemail" placeholder="Your Email" />
                    </div>
                    <div class="form-group">
                        <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="your_pass" id="loginpassword" placeholder="Password" />
                    </div>
                    @*<div class="form-group">
                        <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                        <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                    </div>*@
                <div class="form-group form-button">
                    <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" href="https://localhost:44307/admins/index" />
                    @*<a href="https://localhost:44307/admins/index" class="form-submit" name="signin">Log In</a>*@
                    @*<button type="button" class="btn btn-primary add-btn" onclick="Login()">Login</button>*@
                </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/Account/Login.js"></script>

}