@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Overtime Request</h1>

<form class="overtime-request">
    <div class="row">

        <!--Grid column-->
        <div class="col-md-6">
            <div class="form-group mb-0">
                <label for="name" class="">Your NIP</label>
                <input type="text" id="nip" name="nip" class="form-control">

            </div>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        @* <div class="col-md-6">
                <div class="form-group mb-0">
                    <label for="email" class="">Your Name</label>
                    <input type="text" id="email" name="email" class="form-control">
                </div>
            </div>*@
        <!--Grid column-->

    </div>

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-6">
            <div class="form-group mb-0">
                <label for="example">Tanggal Mulai</label>
                <input placeholder="Select date" type="date" id="startdate" class="form-control">
            </div>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-6">
            <div class="form-group mb-0">
                <label for="example">Tanggal Selesai</label>
                <input placeholder="Select date" type="date" id="enddate" class="form-control">
            </div>
        </div>
        <!--Grid column-->

    </div>

    <h1>Detail</h1>
    <div id="detail">
        <div class="row">

            <!--Grid column-->
            <div class="col-md-6">
                <div class="form-group mb-0">
                    <label for="inputMDEx1">Jam Mulai</label>
                    <input type="time" id="starthour" class="form-control">
                </div>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6">
                <div class="form-group mb-0">
                    <label for="inputMDEx1">Jam Selesai</label>
                    <input type="time" id="endhour" class="form-control">
                </div>
            </div>
            <!--Grid column-->

        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Tugas</label>
            <textarea class="form-control" id="taskname" rows="3"></textarea>
        </div>
        <div class="form-group mb-0">
            <label for="email" class="">Location</label>
            <input type="text" id="locationname" name="locationname" class="form-control">
        </div>
    </div>



    <button type="button" id="btn-add-list" class="btn btn-primary text-center">Add List</button>
    <button type="button" id="kirim"class="btn btn-primary add-btn" onclick="OvertimeRequest()">Kirim</button>


</form>
@section Scripts{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/Overtime/OvertimeRequest.js"></script>
}
