@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
@*<h1>Overtime Request</h1>*@

<!--<form id="form" class="overtime-request">
    <div id="form-header">
        <div class="row">
            <!--Grid column-->
<!--<div class="col-md-6">
    <div class="form-group mb-0">
        <label for="name" class="">Your NIP</label>
        <input type="text" id="nip" name="nip" class="form-control">
    </div>
</div>-->
<!--Grid column-->
<!--Grid column-->
<!--@* <div class="col-md-6">
        <div class="form-group mb-0">
            <label for="email" class="">Your Name</label>
            <input type="text" id="email" name="email" class="form-control">
        </div>
    </div>*@-->
<!--Grid column-->
<!--</div>
<div class="row">-->
<!--Grid column-->
<!--<div class="col-md-6">
            <div class="form-group mb-0">
                <label for="example">Tanggal Mulai</label>
                <input placeholder="Select date" type="date" id="date" class="form-control">
            </div>
        </div>
    </div>
</div>-->
<!--Grid row-->
<!--<h1>Detail</h1>
<div id="detail">
    <div class="row">-->
<!--Grid column-->
<!--<div class="col-md-6">
    <div class="form-group mb-0">
        <label for="inputMDEx1">Jam Mulai</label>
        <input type="time" id="starthour" class="form-control">
    </div>
</div>-->
<!--Grid column-->
<!--Grid column-->
<!--<div class="col-md-6">
    <div class="form-group mb-0">
        <label for="inputMDEx1">Jam Selesai</label>
        <input type="time" id="endhour" class="form-control">
    </div>
</div>-->
<!--Grid column-->
<!--</div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Tugas</label>
            <textarea class="form-control" id="taskname" rows="3"></textarea>
        </div>
        <div class="form-group mb-0">
            <label for="email" class="">Location</label>
            <input type="text" id="locationname" name="locationname" class="form-control">
        </div>
    </div>



    <button type="button" id="btn-add-list" class="btn btn-primary text-center">Add List</button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tanggal</th>
                <th scope="col">Jam Mulai</th>
                <th scope="col">Jam Selesai</th>
                <th scope="col">Tugas</th>
                <th scope="col">Lokasi</th>
            </tr>
        </thead>
        <tbody id="tb_content">
        </tbody>
    </table>

    <button type="button" id="kirim" class="btn btn-primary add-btn" onclick="OvertimeRequest()">Kirim</button>


</form>-->
<!--Form Faiz-->
<div class="container contact-form">
    @*<div class="contact-image">
        <img src="~/img/employee-skills.svg" alt="rocket_contact" />
    </div>*@
    <form id="form" class="overtime-request" method="post">
        @*<h3>Insert Overtime Request</h3>*@

        <div id="form-header">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label for="example">NIP</label>
                        <input type="text" id="nip" name="nip" class="form-control" placeholder="Your NIP *" value="" />
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label for="example">Tanggal Lembur</label>
                        <input placeholder="Select date" type="date" id="date" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div id="detail">

            <div class="row">
                <div class="col-md-6 mb-3 mt-4">
                    <div class="form-group">
                        <label for="example">Jam Mulai</label>
                        <input type="time" id="starthour" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="example">Jam Akhir</label>
                        <input type="time" id="endhour" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="example">Lokasi</label>
                        <input type="text" id="locationname" name="locationname" class="form-control" placeholder="" value="" />
                    </div>
                </div>
                <div class="col-md-6 mb-3 mt-4">
                    <label for="example">Tugas</label>
                    <textarea id="taskname" name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 210px;"></textarea>
                </div>
            </div>
        </div>

        <div class="row mt-5 mb-3">
            <div class="col-md-4">
                <div class="form-group">

                </div>
            </div>
            <div class="col-md-4 mt-3">
                <div class="form-group text-center">
                    <button type="button" id="btn-add-list" class="btn btn-primary text-center">Add List</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">

                </div>
            </div>
        </div>

        <div class="row mt-5">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Tanggal Mulai</th>
                        <th scope="col">Jam Mulai</th>
                        <th scope="col">Jam Selesai</th>
                        <th scope="col">Tugas</th>
                        <th scope="col">Lokasi</th>
                    </tr>
                </thead>
                <tbody id="tb_content">
                </tbody>
            </table>
        </div>

        <div class="row mt-5">
            <div class="col-md-4">
                <div class="form-group">

                </div>
            </div>
            <div class="col-md-4 mt-3">
                <div class="form-group text-center">
                    <button type="button" id="kirim" class="btn btn-primary add-btn" onclick="OvertimeRequest()">Kirim</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">

                </div>
            </div>
        </div>
    </form>
</div>
<!--Form Faiz-->

@section Scripts{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/Overtime/OvertimeRequest.js"></script>
}
