@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>


<div class="card mb-4">
    <div class="card-body">

        <!-- Toggle -->
        <ul class="nav nav-pills" role="tablist">
 
            <li class="active"> 
                <a href="#tab-table2" data-toggle="tab">Waiting Responses</a>
            </li>
            <li>
                <a href="#tab-table3" data-toggle="tab">Responses</a>
            </li>
        </ul>
        <!-- Toggle -->
        <!-- Table 1 -->
        <div class="tab-content">
          
            <!-- Table 1 -->
            <!-- Table 2 -->
            <div class="tab-pane active" id="tab-table2">
                <table style="width:100%" class="table dt-responsive nowrap mt-2" id="tableOvertime2">
                    <thead class="thead-dark">
                        @*<tr>
                            <th class="tbtitle text-center" scope="col" colspan="6">Employee List</th>
                        </tr>*@
                        <tr>
                            <th scope="col">NO</th>
                            <th scope="col">NIP</th>
                            <th scope="col">Name</th>
                            <th scope="col">Position</th>
                            <th scope="col">Overtime Id</th>
                            <th scope="col">Date</th>
                            <th scope="col">Total Overtime Hour</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- Table 2 -->
            <!-- Table 3 -->
            <div class="tab-pane" id="tab-table3">
                <table style="width:100%" class="table dt-responsive nowrap mt-2" id="tableOvertime3">
                    <thead class="thead-dark">
                      @*  <tr>
                            <th class="tbtitle text-center" scope="col" colspan="5">Employee List</th>
                        </tr>*@
                        <tr>
                            <th scope="col">NO</th>
                            <th scope="col">NIP</th>
                            <th scope="col">Name</th>
                            <th scope="col">Position</th>
                            <th scope="col">Overtime Id</th>
                            <th scope="col">Date</th>
                            <th scope="col">Total Overtime Hour</th>
                            <th scope="col">Status By Manager</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- Table 3 -->
        </div>

    </div>
</div>

<!-- Modal Update -->
<div class="modal fade" id="form-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Form Deskripsi Penolakan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="UpdateAccount" class="needs-validation" novalidate>
                    <div class="form-group">
                        @*<label for="nik">NIP</label>*@
                        <input type="text" class="form-control" id="updatenip" value="" hidden>
                    </div>
                    <div class="form-group">
                        @*<label for="nik">Overtime ID</label>*@
                        <input type="text" class="form-control" id="updateovertimeid" value="" hidden>
                    </div>
                    <div class="form-group">
                        <label for="managerid">Manager Id</label>
                        <input type="text" class="form-control" id="updatemngfinid" value="" required>
                    </div>
                    <div class="form-group">
                        <label for="respdesc">Alasan Ditolak</label>
                        <input type="text" class="form-control" id="updaterespdesc" value="" required>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-info" onclick="UpdateNo()" data-dismiss="modal"> Submit </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Update -->

@section Scripts{
    <script src="~/js/Overtime/OvertimeResponse.js"></script>
}