@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>testtt</h1>


<div class="md-form">
    <input type="text" id="form1" class="form-control">
    <label for="form1">Your Name</label>
</div>

<div class="md-form mx-5 my-5">
    <input type="time" id="inputMDEx1" class="form-control">
    <label for="inputMDEx1">Choose your time</label>
</div>

<div class="md-form mx-5 my-5 input-with-post-icon datepicker">
    <input placeholder="Select date" type="date" id="example" class="form-control">
    <label for="example">Try me...</label>
</div>