@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}


<div class="row">
    <div class="col-lg-12 margin-tb mb-4">
        <div class="pull-right">
            <a class="btn btn-info" href="https://localhost:44348/overtimes/OvertimeHistory">Back </a>
        </div>
    </div>
</div>

    <div class="card">
        <div class="card-header " style="background-color: #75afff !important; ">
            <h3 class="text-white">Request Overtime</h3>
        </div>

        <div class="card-body">
            <form id="form" class="overtime-request needs-validation" method="post" novalidate>


                <div id="form-header">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label for="example">NIP</label>
                                <input type="text" id="nip" name="nip" class="form-control" placeholder="Your NIP *" value="@ViewData["nip"]" readonly />
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label for="example">Tanggal Lembur</label>
                                <input placeholder="Select date" type="date" id="date" class="form-control" required>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="detail">

                    <div class="row">
                        <div class="col-md-4 ">
                            <div class="form-group">
                                <label for="example">Jam Mulai</label>
                                <input type="time" id="starthour" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="form-group">
                                <label for="example">Jam Akhir</label>
                                <input type="time" id="endhour" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="form-group">
                                <label for="example">Lokasi</label>
                                <input type="text" id="locationname" name="locationname" class="form-control" placeholder="" value="" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 ">
                            <label for="example">Tugas</label>
                            <textarea id="taskname" name="txtMsg" class="form-control" placeholder="" required></textarea>
                        </div>
                    </div>
                </div>

                <div class="row mt-5 mb-3">


                    <div class="col-md-12 text-center">
                        <div class="form-group text-center">
                            <button type="button" id="btn-add-list" class="btn btn-primary text-center" onclick="Validate()">Add List</button>
                        </div>
                    </div>

                </div>

                <div class="row mt-5">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Tanggal Mulai</th>
                                <th scope="col">Jam Mulai</th>
                                <th scope="col">Jam Selesai</th>
                                <th scope="col">Tugas</th>
                                <th scope="col">Lokasi</th>
                            </tr>
                        </thead>
                        <tbody id="tb_content">
                        </tbody>
                    </table>
                </div>

                <div class="row mt-5">

                    <div class="col-md-12 text-center">
                        <div class="form-group text-center">
                            <input class="btn btn-danger" id ="delete" type="button"  value="Hapus">
                            <button type="button" id="kirim" class="btn btn-primary add-btn" onclick="OvertimeRequest()">Kirim</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
  

    </div>

<!--Form Faiz-->



@section Scripts{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/Overtime/OvertimeRequest.js"></script>
}
