@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<h5> Hai, Finance</h5>
<!--Chart-->
<div class="row mb-4">
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <div id="chart-2">

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <div id="chart-3">

                </div>
            </div>
        </div>
    </div>
</div>
<!--Chart-->

@section Scripts{
    <script src="~/js/admin.js"></script>
}